#Needed in authentication and login routes
SECRET_KEY=your_secret_key_here
ALGORITHM=chosenAlgorithm
# AWS S3 Configuration
AWS_ACCESS_KEY_ID=EXAMPLEACCESSKEY123456
AWS_SECRET_ACCESS_KEY=examplesecretkey1234567890abcdef
AWS_REGION=your-aws-region
AWS_BUCKET_NAME=example-s3-bucket
# Database configuration, this one is defined in docker-compose.yml, make sure it matches
DATABASE_URL=postgresql://postgres:password@localhost:5432/projectdb
